@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@import "tailwindcss";

:root {
  font-family: "Almarai";
  background-color: white;
  color: black;
  box-sizing: border-box;
}
